.countUI{
  display: flex;
  justify-content: center;
  top:50%;
  left:50%;
  position: absolute;
}

.incrBtn{
  width: 60px;
  margin-right: 10px;
}

.decrBtn{
  width: 60px;
  margin-left: 10px;
}

